.page {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.rectangle {
    width: 360px;
    height: 360px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    color: green;
    font-weight: bold;
}

.group {
    color: purple;
    font-style: italic;
}
